html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: black;
  overflow: hidden; /* Scroll bar nahi dikhna chahiye */
}

#canvas-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  pointer-events: none; /* Taaki hum 3D object ko click kar sakein, text beech me na aaye */
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  z-index: 10;
}